<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

	<link rel="stylesheet" href="/css/bootstrap.css" th:href="@{/css/bootstrap.css}">

	<script src="/js/jquery-3.6.0.js" th:src="@{/js/jquery-3.6.0.js}"></script>
	<script src="/js/popper.min.js" th:src="@{/js/popper.min.js}"></script>
	<script src="/js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>

	<script>
	/* html이 모두 로드된 후 JS동작 */
	$(document).ready(function() {
		/* javascript의 1회용 타이머 */
		/* 지정된 시간마다 계속 타이머를 동작 시 setInterval을 사용 */
		/* 2초 후에 history.back() 함수를 실행 */
		setTimeout(function() {
			/* 웹 사용 기록 중 뒤로가기 명령 */
			/* 현재 열렸던 파일은 login.html > loginFail.html 이므로 뒤로가기 명령 사용 시 login.html로 이동함 */
			history.back();
		}, 2000);
	});
	</script>
	
</head>
<body>
	<header class="container">
		<div class="jumbotron">
			<h1 class="text-center">로그인 성공</h1>
		</div>
	</header>

	<main class="container">
		<section class="row">
			<article class="col-sm-6 mx-auto">
				<h2>로그인 실패</h2>
			</article>
		</section>
	</main>
	
	<footer class="jumbotron">
		<div class="container">
			<p class="text-center">made by btc</p>
		</div>
	</footer>
	
</body>
</html>