<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

	<link rel="stylesheet" href="/css/bootstrap.css" th:href="@{/css/bootstrap.css}">

	<script src="/js/jquery-3.6.0.js" th:src="@{/js/jquery-3.6.0.js}"></script>
	<script src="/js/popper.min.js" th:src="@{/js/popper.min.js}"></script>
	<script src="/js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>

</head>
<body>

	<header class="container">
		<div class="jumbotron">
			<h1 class="text-center">로그인</h1>
		</div>
	</header>

	<main class="container">
		<section class="row">
			<article class="col-sm-6 mx-auto">
				<form action="/login/loginCheck" method="POST">
					<div class="form-group">
						<label for="userId">ID : </label>
						<input type="text" class="form-control" id="userId" name="userId" placeholder="ID를 입력해주세요">
					</div>
					<div class="form-group">
						<label for="userPw">PW : </label>
						<input type="text" class="form-control" id="userPw" name="userPw" placeholder="비밀번호를 입력해주세요">
					</div>
					<button type="submit" class="btn btn-primary btn-block">로그인</button>
				</form>
			</article>
		</section>
	</main>
	
	<footer class="jumbotron">
		<div class="container">
			<p class="text-center">made by btc</p>
		</div>
	</footer>
</body>
</html>